@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container-con{
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: -1 !important;
}
.cartTitle{
    font-family: 'Montserrat';
    font-size: 7px;
    width: auto;
    height: 30px;
    overflow: hidden;
}

.cartPrice{
    font-family: 'Montserrat';
    font-size: 10px;
    font-weight: bold;
    width: auto;
    height: 10px;
 
}

.cartCity{
    font-family: 'Montserrat';
    font-size: 8px;
    font-weight: bold;
    width: auto;
    height: 10px;
    overflow: hidden;
    margin-top: 8px;
}


p{
    margin-bottom: 2px;

}

.cartId{
    position: fixed;
    background: #d51515;
    width: 10px;
}

.CartClass{
    right: 0;
    position: fixed !important;
    bottom: 0;
    margin: 10px !important;
    z-index: 100 !important;
    background-color: blueviolet !important;
    margin-right: 130px !important;
}

.pClass{
    color: white;
    font-weight: bold;
}