.Fab{
    right: 0;
    position: fixed !important;
    bottom: 0;
    margin: 10px !important;
    z-index: 100 !important;
}
  
.divclass{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
  }

.textClass{
  display: block !important;
  margin: 10px;
}
.dialogcontent{
  height: 100%;
}