@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');
.divLogo{
    display: flex;
}
.divSearch{
    display: flex;
}

.icon-nav{
    display: flex;
}

.formSearch{
    width: 200px;
    height: 20px;
}
.divIcon{
    display: flex;
    justify-content: space-between;
}

.textHeader{
    font-size: 15px;
    font-family: 'Dosis';
    text-decoration: none;
    color: rgb(29, 24, 24);
    padding: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.divIconCart{
    display: flex;
}

.divIconCartNumber{
    font-size: 15px;
    background-color: rgb(199, 100, 100);
    width: 20px;
    height: 20px;
    border-radius: 7px;
    margin-left: 13px;
}
.divLandingPage{
    display: flex;

}

.divAccount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -5px;
}